@model NextChallenge.Models.LoginInput
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "AccountManage"))
{
    <div class="form-group">
        <text>Username</text>
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <text>Password</text>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    <div>@Html.ValidationMessage("LoginError",new { @class = "text-danger" })</div> <br />

    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary"> Login </button>
}

